body{
background-color:white;
margin:0px;
background-repeat:no-repeat;
background-size:2500px 2600px;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


a{
text-decoration:none;
}
#aids{
color:white;
}
li{
float:left;
padding:13px;
color:white;
font-family:'Roboto';
font-size:20px;
}
li:hover{
background-color:#22ba5a;
}

.white{
color:white;
text-decoration:none;
}


.searchbox{
position:relative;
top:-3px;
left:300px;
}

#randomfact{
font-family:'Roboto';
color:white;
font-size:70px;
font-weight:bolder;
position:relative;
left:270px;
bottom:250px;
}

#coffeeimage{
position:relative;
left:15px;
bottom:60px;
}

#facttitle{
font-family:'Roboto';
font-size: 30px;
font-weight:bold;
color:#383838;
position:relative;
left:675px;
bottom:480px;
}

#factdetails{
font-family:'Roboto';
font-size: 22px;
color:black;
position:relative;
left:670px;
bottom:480px;
}
.list{
background-color:#333;
float:bottom;
font-family:'Roboto';
padding:3px 3px 3px 3px;
}

#chocposition{
position:relative;
left:800px;
top:-600px;
font-size: 30px;
font-weight:bold;
}

#choctitle{
color:#383838;
font-size:37px;
font-weight:bold;
font-family:'Roboto';
position:relative;
left:40px;
top:-220px;

}

#chocdesc{
font-family:'Roboto';
font-size: 28px;
color:black;
position:relative;
left:50px;
bottom:200px;
}

#beerz{
position:relative;
right:600px;
top:100px;	
}

#beertitle{
font-family:'Roboto';
font-size: 30px;
font-weight:bold;
position:relative;
left: 670px;
bottom:350px;
color:#383838;
}

#beerdesc{
font-family:'Roboto';
font-size: 25px;
position:relative;
left: 670px;
bottom:300px;
color:black;
}
#rightarrow{
position:relative;
left:1050px;
top:3px;
}

#rightarrow:hover{
background-color:#22ba5a;	
}

#leftarrow{
position:relative;
left:45px;
}

#leftarrow:hover{
background-color:#22ba5a;
}

#prevfact{
position:relative;
left:260px;
top:320px;
font-size:40px;
font-weight:bolder;
font-family:'Roboto';
color:white;
}

#randfact{
position:relative;
left:620px; 
top:230px;
font-size:40px;
font-weight:bolder;
font-family:'Roboto';
color:white;
}

#randfact:hover{
background-color:#22ba5a;
width:16%;
}

#nextfact{
position:relative;
left:1050px;
top:145px;
font-size:40px;
font-weight:bolder;
font-family:'Roboto';
color:white;
}