body{
background-image:url('../Pictures/foodref.jpeg');
margin:0px;
background-repeat:no-repeat;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li{
float:left;
padding:13px;
color:white;
font-family:'Roboto';
font-size:20px;
}
li:hover{
background-color:#22ba5a;
}

.white{
color:white;
text-decoration:none;
}

.searchbox{
position:relative;
top:-3px;
left:300px;
}

#authorpic{
position:relative;
top:165px;
right:23px;
background-color:#22ba5a;
padding:20px 20px 20px 20px;
}

#rightarrow{
position:relative;
left:1300px;	
}

#leftarrow{
position:relative;
right:100px	
}

.titlebackground{
background-color:white;
width:48%;
position:relative;
left:455px;
bottom:2px;
padding:10px 10px 10px 10px;
}

#lemonstitle{
font-family:'Roboto';
font-size:42px;
font-weight:bolder;
color:#383838;
position:relative;
}
#authorname{
font-family:'Roboto';
font-size:15px;
color:#404040;
font-weight:bold;
line-height:1.5;
margin-left:10px;
}

.sharearticle{
  background-color: #333;
  color:white;
  font-family:'Roboto';
  font-weight:bold;
  width:60.6%;
  font-size:19px;
  padding:0px 0px 0px 0px;
  position:relative;
  left:285px;
  bottom:1px;
}

#sharethisarticleword{
position:relative;
left:10px;
top:15px;
}

#sharephotos{
position:relative;
left:175px;
bottom:12px;
}

#like{
position:relative;
left:315px;
width:26px;
height:26px;
transition: 0.1s linear;
}

#like:hover{
width:28px;
height:28px;
}

#dislike{
position:relative;
left:335px;
width:26px;
height:26px;
transition: 0.1s linear;
}

#dislike:hover{
width:28px;
height:28px;
}

#likeordislike{
color:white;
font-family:'Roboto';
font-weight:bold;
font-size:15px;
position:relative;
left:295px;
bottom:5px;
}
.lemoncontent{
background-color:white;
font-family:'Roboto';
font-size:18px;
width:60%;
padding: 5px 5px 5px 5px;
position:relative;
left:285px;
bottom:3px;
}

.footerbg{
background-color:#333;
color:white;
font-size:12px;
position:relative;
top:100px;
padding: 20px 20px 20px 20px;
font-family:'Roboto';
width:98%;
}

#copyright{
position:relative;
left:620px;
font-weight:bold;
}

