body{
background-image:url('../Pictures/foodarticles.jpeg');
background-repeat:no-repeat;
background-size:1900px 1200px;
margin:0px;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li{
float:left;
padding:13px;
color:white;
font-family:'Roboto';
font-size:20px;
}
li:hover{
background-color:#22ba5a;
}

.white{
color:white;
text-decoration:none;
}


.searchbox{
position:relative;
top:-3px;
left:300px;
}

#title{
color:white;
font-size:90px;
font-family:'Roboto';
position:relative;
left:360px;
top:120px;
font-weight:bolder;

}

#minititle{
color:white;
font-family:'Roboto';
position:relative;
left:540px;
top:140px;
font-size:20px;
}

.ingredients{
background-color:#22ba5a;
font-family:'Roboto';
font-weight:bold;
padding:10px;
position:relative;
left:430px;
top:200px;
width:35%;
font-size:18px;
}

.ingredients2{
background-color:#22ba5a;
font-family:'Roboto';
font-weight:bold;
padding:10px;
position:relative;
left:880px;
bottom:36px;
width:13%;
font-size:18px;
}

#searchawaybutton{
background-color:black;
font-family:'Roboto';
color:white;
width:7%;
font-size:20px;
font-weight:bolder;
padding:10px 10px 10px 15px;
position:relative;
left:670px;
border-color:white;
border-style:solid;
transition: width 0.2s,font-size 0.2s;
}

#searchawaybutton:hover{
width:6%;
font-size:18px;

}


#cantfindrecipe{
color:white;
font-size:70px;
position:relative;
left:250px;
font-family:'Roboto';
font-weight:bold;
}

#cantfindrecipesearch{
font-family:'Roboto';
font-weight:bold;
background-color:black;
border-color:white;
border-style:solid;
width:3.5%;
height:20px;
position:absolute;
left:460px;
bottom:-179px;
padding:8px;
color:white;
}

#searchbar{
position:relative;
left:550px;
bottom:40px;
border-color:#22ba5a;
border-style:solid;
width:27.4%;
}

#cantfindrecipesearch:hover{
background-color:#22ba5a;
color:white;
}
a{
text-decoration:none;
}
	
.footerbg{
background-color:#333;
color:white;
font-size:12px;
position:relative;
top:100px;
padding: 20px 20px 20px 20px;
font-family:'Roboto';
width:98%;
}

#copyright{
position:relative;
left:620px;
font-weight:bold;
}

